{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post'>
        <p>
            <label>New blog title:</label>
        </p>
        <p>
            <input type="text" name='title' />
        </p>
        <p>
            <label>New blog content:</label>
        </p>
        <p>
            <textarea name='content'></textarea>
        </p>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    {% if entries %}

    <div>
        {% for entry in entries %}
        <h2>{{entry.title}}</h2>
        <p>{{entry.content}}</p>
        {% endfor %}
    </div>
    
    {% else %}

    <p>No blog entries yet</p>

    {% endif %}

{% endblock %}